body {
    background: rgb(192, 192, 245);
    font: normal 15pt Arial;
}
header {
    width: 100%;
    margin: "auto";
    background-color: rgb(192, 192, 245);
    padding: 10px 0 100px 0;
    text-align: center;
    float: left;			
}
nav {
    width: 20%;
    background-color: rgb(192, 192, 245);
    text-align: justify;
    float: left;
    margin: auto;
}
main {
    width: 40%;
    background-color: white;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    }
aside {
    width: 40%;
    background-color: white;
    margin: auto;
    text-align: center;
    border-radius: 15px;
}
footer {
    width: 100%;
    height: 10px;
    background-color: rgb(192, 192, 245);
    text-align: center;
    float: left;
}/*
div#area{
    font: normal 20pt Arial;
    background: blue;
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border: 1px solid black;
}
/*div#rep{
    width: 20%;
    height: 50px;
    background-color: gray;
    text-align: center;
    float: left;
    border: 1px solid black;
}
/*div#rep1{
    width: 20%;
    height: 50px;
    background-color: gray;
    text-align: center;
    float: left;	
    border: 1px solid black;
}*/
div#img{
    width: 20%;
    background-image: ();
    text-align: center;
    float: left;			
}
div#dnav{
    width: 60%;
    background-color: white;
    text-align: center;
    float: left;
    margin: auto;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.527);
}
div#divaside{
    width: 40%;
    color: rgba(0, 0, 0, 0.493);
    background-color: rgb(192, 192, 245);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.527);
    margin: auto;
    text-align: center;
}