.headerh1{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: white;
    Font-size: 40px;
}
.p1{
    margin-top: 8%;
    margin-left: 6%;
    Font-family: arial, serif;
    Font-size: 12px;
}
.p2{
    margin-top: 8%;
    margin-left: 6%;
    Font-family: "times new roman", serif;
    Font-size: 12px;
}